<%= render "books/book_error", book: @book %>

<div class="container">
  <div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <h1>Editing Book</h1>
      <%= render 'books/book_error', model: @book %>
      <%= render 'books/book', book: @book %>
    <div class="menu">
      <%= link_to "Show", book_path(@book) %>
      |
      <%= link_to "Back", books_path %>
    </div>
    </div>
  <div class="col-xs-3"></div>
 </div>
</div>
